<div class="form-group">
    <label for="">First Name</label>
    <input type="text" class="form-control" #fname>
</div>

<div class="form-group">
    <label for="">Last Name</label>
    <input type="text" class="form-control" #lname>
</div>

<div class="form-group">
    <label for="">Email</label>
    <input type="text" class="form-control" #email>
</div>

<div class="form-group">
    <label for="">Contact</label>
    <input type="text" class="form-control" #contact>
</div>

<div class="text-right">
    <button class="btn btn-success" (click)="onFormSubmit()">Submit</button>
</div>